.jumbotron1{
    margin-top: 20px;
    background-image: url("../images/Picture2.png");
    background-size: cover;
    color: white;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .fadeIn {
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.slideInRight {
  animation-duration: 2s;
  animation-delay: 0.5s;
}




body {
  padding: 0px;
  font-family: avenir;
  background-color: 	#f9f9f9
 
}

.header {
  padding: 0px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn { 
  float: left;
  width: 75%;
  padding-left: 15px;
}


.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  padding-right: 15px;
}


.fakeimg {
  background-color: transparent;
  width: 100%;
  
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

.button1{
  background-color: #c71585;
  border: 2px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  border-radius: 12px;
  border-color: white;
}

.button1:hover{
  
  background-color: #991066;

}

.landingPic{
  box-shadow: 0px 0px 10px 5px #c71585;
  border: 2px solid  #c71585;
}



   