body {
  
  font-family: avenir;
  background-color: 	#f9f9f9;
  

  
}

.header {
  padding: 0px;
  font-size: 40px;
  text-align: center;
  background: white;
}





@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

.button{
  background-color: #c71585;
  border: 2px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  border-radius: 12px;
  border-color: white;
}

.button:hover{
  
  background-color: #991066;

}
